@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;600;700&display=swap'); 

@font-face {
    font-family: Luxia;
    src: url('../fonts/Luxia/Luxia-Display.otf') format("truetype");
}

* {
    box-sizing: border-box;
    font-size: 24px;
}

#root {
    display: "flex";
    justify-content: "center";
    width: 100%;
}

.body {
    padding: 0;
    margin: 0;
    background-color: rgb(44, 44, 44);
}

.check {
    width: 25px;
    height: 25px;
}

input, textarea {
    font-size: 16px;
    font-family: 'Raleway';
    padding: 10px;
    height: 50px;
    
}

button {
    border: none;
    border-radius: 3px;
    background-color: dodgerblue;
    color: white;
    margin: 5px;
    padding: 5px 10px;
    font-size: 24px;
}

button:hover {
    background-color: rgb(78, 181, 255);
}

.crossed {
    text-decoration: line-through;
}

.error {
    color:red;
    font-size: 18px;
    font-family: "Quicksand"
}

.hide {
    display: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.form {
    font-size: 12px;
}

.align-center {
    align-items: center;
}

.justify-space {
    justify-content: space-between;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.m-auto {
    margin: auto;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    width: 100%;        
}

.input-box {
    width: 100%;
    background: #D9D9D9;    
    border-radius: 10px;
    margin-right: 50px;
    font-size: 16px;
}

.left {
    text-align: left;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-30 {
    margin-left: 100px;
}

.ml-3 {
    margin-left: 10px;
}

.add-task-btn {
    height: 50px;
    background: #4F4F4F;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Luxia'
}

.bar {
    textAlign: "center";    
    width: 100%;
    height: 0px;
    border: 1px solid #999999;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin: 20px;    
}

.remove {
    border: none;
    border-radius: 10px;
    background-color: #999999;
    color: black;
}